// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		ul.article
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/79846', target='_blank', data-imgload='img/article/l_07/01.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/79846', target='_blank')
						h3 【亞文化衝擊】黑人問號？！把「溜冰」兩個字刺在身上　盤點歐美名人 7 個「中文字刺青」
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80050', target='_blank', data-imgload='img/article/l_07/02.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80050', target='_blank')
						h3 【亞文化衝擊】連女博主都被他們「圈粉」！這 4 國「男性美妝 Youtuber 」，化妝功力不輸女生！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80049', target='_blank', data-imgload='img/article/l_07/03.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80049', target='_blank')
						h3 【亞文化衝擊】唯一自帶氣場的髮型！誰說嘻哈歌手才能留「髒辮」？
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80056', target='_blank', data-imgload='img/article/l_07/04.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80056', target='_blank')
						h3 【亞文化衝擊】 LVMH、Kering 精品兩大集團搶攻千禧年代市場！盤點「整型成功」精品 TOP 4！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80090', target='_blank', data-imgload='img/article/l_07/05.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80090', target='_blank')
						h3 【亞文化衝擊】紅到外國人想聽他的歌！吳亦凡如何創造華人音樂的新「天地」
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80028', target='_blank', data-imgload='img/article/l_07/06.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80028', target='_blank')
						h3 【亞文化衝擊】比原作更受歡迎！這幾部熱門電影竟然都是由「電玩改編」而成的！
// list07 end