// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title RELATED ARTICLES
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/80113', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/80113/5b3e05b6e0980.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/80113/5b3e05b6e0980.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80113', target='_blank')
						h3 【亞文化衝擊】不知道該看臉還是胸！台灣 3 大「電到嫑嫑的」辣妹刺青師特蒐
				.date Jul 05.2018 | by 早小安
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/79998', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/79998/5b3a0a922c471.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/79998/5b3a0a922c471.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/79998', target='_blank')
						h3 【亞文化衝擊】流行樂界的「超級寵兒」是嘻哈！為什麼 POP 歌曲都加入了一段 RAP？
				.date Jul 02.2018 | by 李恩
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/79681', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/79681/5b2b77d10a32b.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/79681/5b2b77d10a32b.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/79681', target='_blank')
						h3 【亞文化衝擊】中式設計連國外潮流媒體也說讚！台灣超強球鞋客製單位「合和意匠」
				.date Jun 21.2018 | by Xin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/80002', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/80002/5b3a4e9aa48f7.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/80002/5b3a4e9aa48f7.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80002', target='_blank')
						h3 【亞文化衝擊】巴黎時裝周話題最高 6 雙聯名鞋，將成為下一季的球鞋趨勢！
				.date Jul 02.2018 | by Normal Girl
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/80054', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/80054/5b3b5d0811756.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/80054/5b3b5d0811756.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80054', target='_blank')
						h3 【亞文化衝擊】Dior 為何選擇街頭出身的韓裔女設計師擔任男士珠寶設計？
				.date Jul 06.2018 | by Cloud
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/80053', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/80053/5b31b70b00073.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/80053/5b31b70b00073.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80053', target='_blank')
						h3 【亞文化衝擊】還在後梳油頭？這 3 個「輕叛逆男性髮型」準備好壞一波！
				.date Jun 25.2018 | by 熊編
// list08 end