// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/80142', target='_blank', data-imgload='img/article/l_09/01.jpg')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/80169', target='_blank', data-imgload='img/article/l_09/02.jpg')
			.txt
				ul.dateWrap
					li.now
						.date 27
						.month Jun
							br
							| 2018
						.author by ONE
					li
						.date 06
						.month Jul
							br
							| 2018
						.author by ONE
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/80142', target='_blank')
								h3 【亞文化衝擊】冷酷外表下其實很瘋狂！Bii 畢書盡最想接演的角色竟然是神經病殺人犯？！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 擁有混血身分的藝人其實在演藝圈並不算太稀奇，但如果有混血身分又自願入籍台灣的藝人可就不多見了吧！以台灣、韓國混血的帥氣外型闖蕩演藝圈的 Bii 畢書盡就是這樣一位愛台灣的藝人！從 06 年來台生活並開始接受唱片公司的密集訓練一直到 2010 年正式出道，雖然出道至今的表現都相當亮眼，但 Bii 也跟我們聊到其實他剛來台灣時非常痛苦甚至在培訓期間一度想放棄。究竟是什麼原因讓 Bii 願意繼續堅持他的夢想成為一位歌手？以及他又是如何看自己的呢？
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/80142', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/80169', target='_blank')
								h3 【亞文化衝擊】高端潮怎麼穿才不屁？男神 Bii 畢書盡為我們做了最佳示範
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 本月 JUKSY 主題「亞文化衝擊」講的正是街頭次文化的崛起，滑板、嘻哈、街舞等原本屬於小眾文化的事物正漸漸影響到主流或是精品市場。像是從滑板品牌起家的 Supreme，在主理人 James Jebbia 的操刀之下，不但讓 Supreme 坐穩街頭至尊的稱號，還拿下 2018 美國時裝設計師協會大獎，更不用說與 LV 聯名的驚天之作，都再再顯示出街頭的力量正在逐漸壯大。為此，我們也特別邀請 JUKSY 7 月號的封面人物 Bii 畢書盡為大家示範，如何將時裝品牌與街頭品牌做搭配，穿出帥度翻倍的「高端潮」造型！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href=' https://www.juksy.com/archives/80169', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end